/*--------------------------------------------------------------
# Start Page header
--------------------------------------------------------------*/

.page_header {
    position: relative;
    height: 180px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.60);
    }
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: $semiBold;
        .title {
            color: #fff;
            font-size: 23px;
            margin-bottom: 15px;
        }
        .history {
            display: flex;
            align-items: center;
            justify-content: center;
            .home {
                color: #fff;
                font-size: 18px;
            }
            .break {
                width: 1px;
                height: 28px;
                display: block;
                margin: 0 12px;
                background-color: #fff;
            }
            .page_name {
                margin: 0;
                color: $mainColor;
            }
        }
    }
}


/*--------------------------------------------------------------
# End Page header
--------------------------------------------------------------*/