/*--------------------------------------------------------------
# Start Main Heading
--------------------------------------------------------------*/

.main-heading {
    &.colored {
        h2 {
            color: #0278B0;
        }
    }
    h2 {
        color: #1A1A1A;
        font-size: 32px;
        font-family: $Bold;
        line-height: 47px;
    }
    img {
        width: 88px;
    }
}


/*--------------------------------------------------------------
# End Main Heading
--------------------------------------------------------------*/